.cardstyle{
    box-shadow : 0 10px 20px rgba( 0,0,0,0.19 ) , 0 6p 6px rgba( 0,0,0,0.23 ) ;
}

.input-area{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2rem;
    /* margin-bottom: 4rem; */
    flex-wrap: wrap;
    height: 200px;
    z-index: 1;
}

.input-field{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.input-field label{
    font-weight: bold;
}

.input-field input{
    width: fit-content;
    height: 30px;
}

table{
    margin: 0 auto;
}

table,
td {
    border: 1px solid #333;
}