.cardstyle{
    box-shadow : 0 10px 20px rgba( 0,0,0,0.19 ) , 0 6px 6px rgba( 0,0,0,0.23 ) ;
}

.input-area{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 2rem 4rem;
    padding: 3rem 1rem;
    gap: 1rem;
    /* height: 200px; */
    background-color: #ffd976;
    z-index: 9;
}

.input-field{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-field:nth-child(2){
    gap: 2rem;
}

.input-field label, p{
    font-weight: bold;
}

.input-field > p{
    margin: 0;
    background-color: #0c559d;
    color: #fff;
    padding: 6px 10px;
    border-radius: 5px;
    letter-spacing: 1px;
}

.input-field input{
    width: fit-content;
    height: 30px;
}

.date-buttons{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex: 1;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.date-buttons div{
    background-color: #807138;
    border-radius: 5px;
    padding: 6px 10px;
    cursor: pointer;
    color: #fff;
    box-shadow: 4px 14px 24px 4px rgba(0,0,0,0.1);
}

.date-buttons .active{
    font-weight: 800;
    background-color: rgb(0, 131, 246);
}

.react-calendar{
    z-index: 9;
}

.date-range{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.date-range p{
    margin: 0;
    font-weight: bolder;
}

.start-date #dropdown-date,
.end-date #dropdown-date{
    display: flex;
    gap: 4px;
}

#dropdown-year select,
#dropdown-month select,
#dropdown-day select,
.input-field select{
    outline: none;
    border-radius: 5px;
    padding: 4px 8px;
}

table{
    margin: 2rem auto 0;
}

table,
td {
    border: 1px solid #333;
}

td{
    padding: 8px 1rem;
}

td:first-child{
    font-weight: bold;
    background-color: #fff;
}

@media screen and (max-width: 768px) {
    .input-area{
        flex-direction: column;
        gap: 16px;
        margin: 2rem 2rem 4rem;
    }
    .input-field input{
        width: 100%;
    }
    .container{
        margin: 0 auto;
        width: 100%;
    }
}

@media screen and (max-width: 425px) {
    .input-area{
        margin: 2rem auto;
        height: fit-content;
        gap: 24px;
    }
    .date-range{
        flex-direction: column;
    }
}