.logout{
    text-decoration: none !important;
    color: rgb(245, 242, 237);
}

.logout:hover{
    color: rgb(125, 130, 130);
}

.logo{
    font-size: 1.9rem;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}